* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Robot", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --------------------for nav---------------------------------- */

.navContaineer {
  width: 100%;
  position: fixed;
  background: #2c3e50;
  padding: 28px 0;
}

.nav {
  width: 100%;
  justify-content: space-between;
  max-width: 1000px;
  /* background-color: red; */
  margin: 0 auto;
}

.navContaineer .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  color: #fff;
  font-weight: 500;
}

.nav .menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  margin-left: 22px;
  transition: color 800ms;
}

.nav .menu a:hover {
  color: #1abc9c;
}

.navMobile {
  display: none;
}
/*------------------- for mobile view --------------------------------*/

@media (max-width: 768px) {
  .navContaineer {
    display: none;
  }

  .navMobile {
    display: block;
    width: 100%;
    position: fixed;
    background: #2c3e50;
    padding: 10px 0;
    /* margin-bottom: 40px; */
  }

  .mobile {
    padding: 8px;
    width: 100%;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
  }

  .navMobile .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    margin-left: 22px;
    transition: color 800ms;
  }

  .mobile .menu a:hover {
    color: #1abc9c;
  }

  .name span {
    color: #fff;
    font-size: 15px;
  }

  .menu span {
    color: #fff;
    font-size: 15px;
  }

  /*---------------- for section------------------------- */
}

/* ----------------section main----------- */

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #1abc9c;
  display: flex;
}

.main .container {
  margin: auto;
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.main .container img {
  width: 160px;
  border-radius: 77px;

  border: 2px solid #fff;
}

.main .container h1 {
  font-size: 32px;
  line-height: 1;
  margin: 7px 0;
  font-weight: 300;
}

.main .container .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .container .rating .line {
  width: 37%;
  border: 2px solid #fff;
}

.main .container .rating i {
  margin: 0 7px;
}

.container h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 17px 0 0 0;
}


/* ---------------------------about---------------------- */

.about {
  width: 100%;
  padding: 60px 0;
  /* background: #1abc9c; */
  background: red;
  color: #fff;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.about .container .title {
  text-align: center;
}

.about .container .title h1 {
  font-size: 40px;
  line-height: 1;
  margin: 18px 0;
  /* text-align: center; */
}

.about .container .title .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .container .title .rating i {
  margin: 0 14px;
}

.about .container .title .rating .line {
  /* display: flex; */
  width: 100%;
  border: 2px solid #fff;
}

.about .container .info {
  width: 100%;
  max-width: 550px;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  /* border: 1px solid red;
  margin: 0 auto;  */
}

.info .left .right {
  width: 100%;
  max-width: 45%;
}

.info p {
  line-height: 1.5;
  font-size: 16px;
  margin: 0 10px;
}

.about .btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 16px 30px;
  border-radius: 8px;
  transition: background 600ms, border 600ms, color 600ms;
}

.about .btn:hover {
  background: #fff;
  color: #2c3e50;
}

.about .container .btn i {
  margin-right: 10px;
}


/* ---------------- Portfolio -------------------- */

.portfolio {
  padding: 40px 0;
  /* background: green; */
}

.portfolio .container .title {
  text-align: center;
}

.portfolio .container .title .h1 {
  font-size: 44px;
  line-height: 1;
  margin: 18px 0;
}

.portfolio .container .title .rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .container .title .rating .line {
  width: 18%;
  border: 2px solid #2c3e50;
}

.portfolio .container .title .rating .line {
  width: 18%;
  border: 2px solid #2c3e50;
}

.rating i {
  margin: 0 10px;
}

.cardWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0 0;
  height: 80vh;
}

.cardWrap .card {
  width: 100%;
  max-width: 31%;
  margin: 10px 0;
  height: 180px;
  background: url("./img/cabin.png") no-repeat center/cover;
}

.portfolio .container .cardWrap .card:nth-child(2) {
  background: url("./img/cake.png") no-repeat center/cover;
}

.portfolio .container .cardWrap .card:nth-child(3) {
  background: url("./img/circus.png") no-repeat center/cover;
}

.portfolio .container .cardWrap .card:nth-child(4) {
  background: url("./img/game.png") no-repeat center/cover;
}

.portfolio .container .cardWrap .card:nth-child(5) {
  background: url("./img/safe.png") no-repeat center/cover;
}

.portfolio .container .cardWrap .card:nth-child(6) {
  background: url("./img/submarine.png") no-repeat center/cover;
}